textarea {
    resize: none;
    font-family: monospace;
}

.no-wrap {
    white-space: pre;
}

.vim-status-bar {
    height: 30px; /* Adjust the height as needed */
    background-color: #f8f9fa; /* Light background color */
    border-top: 1px solid #dee2e6; /* Top border */
    display: flex;
    align-items: center;
    justify-content: center;
}
