textarea {
    resize: none;
    font-family: monospace;
}

.no-wrap {
    white-space: pre;
}

.vim-status-bar {
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
