@page "/"
@using DotNetInternals.RazorAccess

<PageTitle>Home</PageTitle>

<textarea @bind="text" class="form-control mb-2" placeholder="Razor code" style="min-height: 25vh"></textarea>

<button type="button" class="btn btn-primary mb-2" @onclick="Compile">Compile</button>

<textarea @bind="compiled" class="form-control" readonly placeholder="C# code" style="min-height: 25vh"></textarea>

@code {
    private string text = "";
    private string compiled = "";

    private void Compile()
    {
        compiled = RazorCompiler.Compile(text);
    }
}
