@page "/"
@using DotNetInternals.RazorAccess

<PageTitle>Razor • DotNetInternals</PageTitle>

<div class="d-flex flex-column h-100">
    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn btn-primary mb-2" @onclick="Compile">Compile</button>
        </div>
    </div>

    <div class="row g-2 flex-grow-1">
        <div class="col-12 col-md">
            <textarea @bind="text" class="form-control h-100" placeholder="Razor code"></textarea>
        </div>
        <div class="col-12 col-md">
            <textarea @bind="compiled" class="form-control h-100" readonly placeholder="C# code"></textarea>
        </div>
    </div>
</div>


@code {
    private string text = "";
    private string compiled = "";

    private void Compile()
    {
        compiled = RazorCompiler.Compile(text);
    }
}
